@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: sans-serif;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline-width: 0.125rem;
  outline-style: solid;
  @apply outline-gray-800 dark:outline-gray-300;
}

main,
footer {
  *:focus-visible {
    outline-offset: 0.125rem;
  }

  a,
  .prose :where(a):not(:where([class~='not-prose'] *)) {
    @apply font-medium;
    color: var(--tw-prose-links);
    text-decoration-line: underline;
    text-decoration-thickness: 0.1rem;
  }
}

@import './prose.css';
@import './form.css';
