/*@tailwind base;*/
body {
  margin: 0;
}
@tailwind components;
@tailwind utilities;

html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  vertical-align: top;
  text-align: left;
  border: 1px solid #aaa;
  padding: 0.25rem 0.5rem;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/margin-trim */
}
th > *:first-child,
td > *:first-child {
  margin-top: 0;
}
th > *:last-child,
td > *:last-child {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 1em;
}

ins {
  display: inline-block;
  text-decoration: none;
  background-color: #fff9c0;
}

kbd {
  font: inherit;
  background: #0001;
  border: 1px outset #0008;
  padding: 0.05em 0.25em;
  border-radius: 0.2em;
}

.project-euler-problem-11 {
  td {
    text-align: center;
    padding: 0.125rem 0.25rem;

    &.highlight {
      color: hsl(0, 100%, 25%);
      background-color: hsl(0, 50%, 92%);

      &.main {
        background-color: hsl(0, 50%, 82%);
      }
    }

    strong {
      color: inherit;
    }
  }
}
